* {
    box-sizing: border-box;
}


body {
    background-color: #ffffe0;
    margin:0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: lightblue;
    margin: 0;
    padding: 0.1em;
}


.grid-container {
    display: grid;
    grid-template-columns: 99%;
    grid-template-areas:
        'header'
        'menu'
		'middle'
        'footer';
}


nav {
    grid-area: menu;
    padding:0 0.5em 3em 0.2em;
    border-right: none;
}


main {
    grid-area: middle;
    padding: 0 0.5em 3em 1em;
}


footer {
    grid-area: footer;
    background: lightblue;
    float:right;
}


footer > p {
    text-align: center;
    margin: 0;
    padding: 1em;
}


.navul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

.navli {
	text-align:center;
	font-weight: normal;

}

.navcurrent {
	text-align: center;
	font-weight: bold;
	color: white;
    background: lightblue;
}


.nava {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
}

.nava:hover {
    color: white;
    background: black;
}

table {
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
	display: grid;
	border: 1px solid #f2f2f2;
    overflow: auto;
}

th, td {
    padding: 1em;
}

td.todo {
	text-align: center;
	font-weight: bold;
}

td.headline {
	text-align: center;
	font-weight: bold;
}

td.see {
	text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


@media (min-width: 800px) {
    .grid-container  {
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        'header header header header'
        'menu middle middle middle'
        'menu middle middle middle'
        'footer footer footer footer';
    }
    nav {
		border-right: 1px dotted #afafaf;
    }

	.navli {
		text-align:left;
	}
	
	.navcurrent {
		text-align: left;
	}
}


section {
    padding: 0em 0 2em 0;
}


p.center {
    text-align: center;
}


h1 {
    text-align: center;
    margin: 0;
}


h2 {
    text-align: center;
    margin: 1em 0 1em 0;
    background: lightblue;
}


pre {
    overflow-x: scroll;
}

a.extern:after {
    content: '\2197';
}


img.bild {
    width: 200px;
    border:1px solid lightblue;
}